.rounded-input {
  border-radius: 10px;
  padding: 10px;
  border-color: #000000;
  margin-bottom: 20px;
}

.btn-custom {
  color: #000000;
  width: 180px;
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn-light-gray {
  background-color: #dddddd; /* Altere o valor para o cinza desejado */
  color: #333333; /* Altere o valor para a cor desejada */
}

.btn-bold {
  font-weight: bold;
}

.rounded-input {
  border-radius: 10px;
  padding: 8px;
  border-color: #000000;
  margin-bottom: 8px;
  width: 500px;
}

.btn-custom {
  color: #000000;
  width: 180px;
  background-color: #6c757d;
  border-color: #6c757d;
  margin-top: -10px;
}

.login-form {
  margin-top: -10px;
}

.logo {
  text-align: center;
  margin-bottom: -1px;
}

.logo img {
  max-width: 150px;
}

h2 {
  font-weight: bold;
  color: #000000;
}

.social-icons {
  text-align: center;
  margin-top: 20px;
}

.social-icons p {
  margin-bottom: 10px;
}

.social-icons img {
  display: inline-block;
  margin: 0 10px;
  max-width: 40px;
  height: auto;
}
