* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Poppins', sans-serif;
}
.containner {
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #EFE9F3;
  padding-top: 5rem;
  padding-left: 8rem;
  padding-right: 8rem;
}

.title-home {
  font-weight: bold;
  margin-bottom: 1rem;
  font-size: xxx-large;
}

.btn-cadastrar {
  background-color: #813FBB;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  &:hover {
    background-color: #5B496A;
    color: #fff;
    border: 1px solid;
    transition: all 0.3s ease-in-out;
  }
}
.title {
  font-size: xxx-large;
  font-weight: bold;
  margin-bottom: 1rem;
}

.title-description {
  padding: 0px 6rem 0 0;
  font-size: 1.2rem;
}

#possui-conta {
  font-size: 0.7rem;
  text-decoration: underline;
}

.first-banner {
  gap: 9rem;
  font-weight: bold;
  padding-top: 3rem;

  h1 {
    font-weight: bold;
    font-size: 3rem;
  }
}

.first-banner-left {
  flex: 1;
  margin: 0px 17rem 0 12rem;
}

.first-banner-right {
  flex: 1;
  margin: 0 7rem 0 0rem;
}


.second-banner {
  justify-content: center;
  gap: 2rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
  h1 {
    font-weight: bold;
  }
  h2 {
    font-weight: 600;
  }
}

.title-video {
  font-weight: bold;
  margin-bottom: 1rem;
  font-size: xxx-large;
}

.videos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
  justify-content: flex-start;
}

.first-row {
  display: flex;
  // flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 3rem;
}

.second-row {
  display: flex;
  // flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.video {
  display: flex !important;
  flex-direction: row;
}

.video-first {
  padding-left: 3rem;
}

.video-second {
  padding-left: 20rem;
}

.video-third {
  padding-left: 3rem;
}

.video-forth {
  padding-left: 21rem;
}

.video-content {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}


.video-content h3 {
  margin: 0;
  font-weight: bold;
  text-decoration: underline;

}

.video-content p {
  margin-top: 5px;
  font-weight: 600;
}

.description-container {
  padding-right: 3rem;
}


.logo-parcerias {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.logo-img {
  width: 200px;
  height: auto;
  margin: 20px;
}

.logo-podcasts {
  flex-wrap: wrap;
  padding-inline: 15rem;
}

.logo-podcast-img {
  width: 100px;
  height: auto;
}

.centered-textarea {
  text-align: center;
}

.feedback {
  font-weight: bold;
  font-size: xx-large;
}

.feedback-field{
}

.fa-star {
  color: #f1c40f;
  font-size: 50px;
  align-items: center;
}

.stars-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
