<h2>Olá <%= @user.name %></h2>

<p>Aqui é o Ibson, do Pipoca Ágil! Você acabou de se inscrever em nosso clube do assinante. <br>
Estamos muito felizes em receber você em nossa comunidade! &#128512; <br>
Sinta-se à vontade para explorar nosso site e descobrir todos os recursos e benefícios exclusivos disponíveis para você. <br>
Para que eu possa concluir o seu cadastro, você deve confirmar o seu endereço de e-mail. É só clicar no link abaixo:</p>

<p><%= link_to 'Confirme minha conta', confirmation_url(@resource, confirmation_token: @token) %></p>

<p>Grande abraço,</p>
<p>Ibson</p>
